:root {
    --color-primary: #1bbeb9;
    --color-secondary: #FFF9EB;
    --color-tertiary: #eca635;
    --color-button: #e22bfe;
    --color-button-hover: #ba20e5;
    --color-text: #444444;
    --color-white: #FFFFFF;
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 0 0;
}

#img-banner{
    margin: 0px 20px;
    height: 300px;
    width: auto;
}
/* Sección de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Títulos */
.main-title {
    font-size: 48px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
    margin: 0px 10px;
    padding: 2% 5%;
    border: var(--color-white) solid;
    border-radius: 1rem;
}

.section-title {
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

/* Contenedores de entrada y botón */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}

.button-container {
    width: 50%;
    justify-content: center;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;

}

/* Estilos de botón */
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border-radius: 25px;

    cursor: pointer;
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: #e49e12;
}

/* Listas */
ul {
    list-style-type: none;
    color: var(--color-primary);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
}

.result-list {
    margin-top: 15px;
    color: #05DF05;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/* Botón de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 1rem;
}

.button-draw img {
    margin-right: 40px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}

#mensajeError{
    color: #e55720;
    padding: 5px;
    font-weight: bold;
}

@media (max-width: 490px){
    .button-container {
        width: 95%;
        min-width: fit-content;
    }
    .input-section{
        border-radius: 1em 1em 0 0;
        position: fixed;
        margin: 0;
    }
    .header-banner {
        flex: 10%;
        min-height: fit-content;
        max-height: max-content;
        flex-direction: column-reverse;
        padding: 20px 0 0;
        margin: 0;
    }
    .main-title {
        font-size: 2rem;
        margin-bottom: 5%;
        padding: 5%;
        position: relative;
        top: 0;
    }
    #img-banner{
        height: 150px;
        width: auto;
        position: static;
        top: 0;
    }
}